.map {
    height: 88vh;
    margin-left: 5%;
    width: 90%;
    background-image: url("../img/old-paper.jpg");
    font-family: "Indie Flower", cursive;
    color: #3e2d19;
    box-shadow: 0 0 15px 5px #343434;
    margin-top: 15px;
  }
  .titlemap {
    text-align: center;
    height: 10%;
    margin-bottom: 0;
    font-size: 3em;
    display: flex;
    justify-content: flex-end;
  }
  .titlemap span {
    width: 90%;
  }
  .mapppoints {
    
    margin-left: 5%;
    width: 10%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .ant-timeline-item-head-blue{
    padding: 1em;
  }
  .ant-timeline-item-content{
    top:1px;
    margin: 0 0 0 10px;
  }
  .mappoint {
    width: 50px;
    height: 50px;
    background-color: #262626;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    color: white;
  }
  .mappointborder {
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .mappoint span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .mapcontent {
    display: flex;
    height: 90%;
  }
  .question {
    text-align: center;
    font-size: 3vw;
    font-family: "Caveat", cursive;
  }
  .answerimage {
    /* width: 100%; */
    height:auto;
    padding: 0;
    margin: 0;
    
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 600;
    color: rgb(0, 0, 0,0.5);
    font-family: "Caveat", cursive;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 15px 15px 10px black, 0 0 1em tomato;
  }
  .answerimage:hover {
    cursor: pointer;
  }
  .questionanswer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #1c1c1c;
    margin-top: 10px;
    font-size: 1.4em;
    color: #1c1c1c;
    transition: 0.16s;
  }
  .truth {
    background-color: green;
  }
  .wrong {
    background-color: red;
  }
  .uright:hover {
    font-size: 2.4em;
    cursor: pointer;
    transition: 0.16s;
  }
  .answer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .questionvariatsanswer {
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  .questionvariatsanswer:hover {
    cursor: pointer;
  }
  .answerchoice {
    width: 50%;
    height: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .answerchoice:hover {
    text-decoration: underline;
    transition: 0.1s;
  }
  .answerchoice:nth-child(1) {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    
  }
  .answerchoice:nth-child(2) {
    border-bottom: 2px solid grey;
  }
  .answerchoice:nth-child(3) {
    border-right: 2px solid grey;
  }
  .nextbutton {
    display: flex;
    width: 60%;
    border: 2px solid #3e2d19;
    border-radius: 20px;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    transition: 0.1s;
  }
  .nextbutton:hover {
    background-color: #3e2d19;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    transition: 0.1s;
  }
  .wrapperquestion{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .question{
    width: 90%;

  }
